@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.task-container{
    color: var(--text-color-primary);
    padding-top: 3em;
    height: 100vh;
    position: relative;
}

.time{
    font-size: 6rem;
}

.message{
    font-size: 4rem;
}

.focus-question{
    font-size: 2rem ;
    padding-bottom: 10px;
}

.task-input{
    font-size: 2rem;
    width: 35vw;
}

.check{
    width: 2rem;
    height: 2rem;
}

.strike-through{
    text-decoration: line-through;
}

.button{
    background-color: transparent;
    border: none;

    color: var(--text-color-primary);
}

.quote-container{
    margin-bottom: auto;
    position: absolute;
    bottom: 3.5rem;
    width: 70vw;
    text-align: center;
}

.todo-btn-container{
    right: 1rem;
    bottom: 2rem;
}

.todo-btn{
  font-size: 2rem;
}